/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




html {
  background: #2d5480;
  transition: 1s all;
}
html:hover {
  background: #1c4778;
}

.root {
  width      : 100%;
  max-width  : 640px;
  margin     : 10px auto 0 auto;
  box-sizing : border-box;
  display    : block;
  background : #2e8fff;
  color      : #ebf4ff;
  transition : 0.3s all;
}

.root:hover {
  background: #0a7cff;
}

#input {
  width      : 100%;
  max-width  : 100%; /* Limit to 100% width even if you enlarge it in chrome.*/
  box-sizing : border-box;
  padding    : 5px;
  border     : 0px;
}

.top-section {
  overflow: hidden;
}

.box {
  width   : 45%;
  padding : 10px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.letter-stats {
  margin-top  : 10px;
}

  .letter-stats > span {
    display     : block;
    line-height : 23px;
  }

.big-number {
  font-size: 30px;
}

@media (max-width: 400px) {
  .box {
    width         : 100%;
    float         : none !important;
    border-bottom : 1px solid #fff;
  }
}
